@{
    ViewBag.Title = "Manipulare Comenzi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<h2>HomePage</h2>

<input type="button" value="Plasare comanda" name="plasareComanda" formaction='@Url.Action("PlasareComanda")' /> <br />
<input type="button" value="Vizualizare Comenzi" name="vizualizareComenzi" /><br />
<input type="button" value="Editare Comnezi" name="editareComenzi" /><br />
<input type="button" value="Facturare" name="facturare" /><br />
<input type="button" value="Adaugare masina" name="addMasina" /><br />
